<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello! Here are the Songs </title>
</head>
<body>
<h1> Songs</h1>
<ul>
    <li th:each="song : ${album}">
        <span th:text="${song.title}"></span>
        <span th:text="${song.artist}"></span>
        <span th:text="${song.songCount}"></span>
        <span th:text="${song.length}"></span>
        <span th:text="${song.imageUrl}"></span>
    </li>
</ul>

<form method="POST" action="/album">
    <label for="title"> Album Title</label><input name="title" id="title" />
    <label for="artist"> Artist</label><input name="artist" id="artist" />
    <label for="songCount"> song count</label><input name="songCount" id="songCount" />
    <label for="length"> length</label><input name="length" id="length" />
    <label for="imageUrl"> ImageUrl</label><input name="imageUrl" id="imageUrl" />
    <input type="submit" />

</form>
</body>
</html>